name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  release:
      types: [ published ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install and Test
        run: |
          npm install
          npm test

      - name: Build
        run: |
          npm run build

      - name: Deploy
        if: github.event_name == 'release'
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: app/pkmo-timer/dist
          branch: gh-pages
