name: Deploy to GitHub Pages

on:
  release:
      types: [ published ]

jobs:
  test-and-build:
    uses: ./.github/workflows/test-and-build.yml
    with:
      use_wrapper: 'true'
  deploy:
    needs: test-and-build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Download Build Artifact
        uses: actions/download-artifact@v4
        with:
          name: build-output
          path: dist-folder

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist-folder
          branch: gh-pages
